.header{
background-color: #818181;
	color: #EBECEA;
	float: center;
	width: 100%;
	font-size: 2em;
}
@charset "utf-8";
/* CSS Document */

header {
	background-color: #E11328;
	padding: 10px;
	margin: 0px;
	color: #FFFFFF;
}
nav {
	padding: 10px;
	margin: 0px;
	background-color: #F38F2B;
	color: #FFFFFF;
}
section {
	padding-bottom: 1000px;
    margin-bottom: -1000px;
	padding: 10px;
	margin: 0px;
	background-color: #FFBF01;
	color: #FFFFFF;
	font-size: 1.2em;
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article {
	padding: 10px;
	margin-top: 7px;
	margin-right: 7px;
	margin-left: 7px;
	margin-bottom: 7px;
	background-color: #7BC042;
	font-size: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* [disabled]width: 50%; */
}
footer {
	padding: 10px;
	margin: 0px;
	background-color: #932A8F;
	color: #FFFFFF;
	font-size: 1.2em;
	clear: both;
}
aside {
	padding-bottom: 115px;
	margin-bottom: -1000px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: -0px;
	margin-right: -0px;
	margin-left: -0px;
	margin-bottom: -0px;
	background-color: #056DB3;
	color: #FFFFFF;
	font-size: 1.2em;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
}
p {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding: 0px;
	margin: 0px;
	font-size: 1.2em;
}
.container {
    overflow: hidden;
}
