@charset "utf-8";
/* CSS Document */

header img {
	max-width: 100%;
	padding-bottom: 10px;
}
header {
	text-align: center;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 20px;

}

footer {
color: #FFFFFFFF;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	font-size: 1.4em;
	clear: both;
font-family: 'Nunito Sans', sans-serif;
text-align: center;
font-weight: bold;
}
aside img {
	max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
body {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: 62%;
	background-image: url(../images/background-2.jpg);
	background-position: top;
    background-size: cover;
}
section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* [disabled]width: 50%; */
}
aside {
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	color: #FFFFFFFF;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.8em;
	margin-bottom: 10px;
	padding-left: 10px;
}
p {
	color: #FFFFFFFF;
	font-family: 'Nunito Sans', sans-serif;
	padding-bottom: 0px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 1.4em;
}
nav {
	text-align: center;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;
	font-size: 1.4em;
}
nav a {
	text-decoration: none;
	text-align: center;
	font-size: 1.4em;
	color: #FFFFFFFF;
	font-weight: bold;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
}

.active {
	background-color: #47DEE5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.active{
  --color: #a972cb;
  --hover: #FF3334;
}

.active:hover,
.active:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
/*tabletin näkymä*/
@media screen and (max-width:426px) and (min-width:768px){
body {
	width: 100%;
}
}
/*Puhelimen näkymä*/
@media screen and (max-width:425px){
body {
	width: 100%;
}
aside {
	float: none;
	width: 100%;
}
section {
	width: 100%;
	float: none;
}


}
