body {
  text-align: center;
  background-image: url("images/dowloading.gif");
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-position: right;
}

p {
  font-size: 12px;
  color: green;
}

h1 {
  font-size: 20px;
  padding-top: 5em;
}
h2{
  font-size: 20px;
}
nav{
  font-size: 20px;
  display: block;
  float: left;
margin-top: 20px;
}
nav a{
  display: block;
  text-align: center;
  font-weight: bold;
  color:#AF99C9;
  margin-left: 145px;
  text-decoration: underline;
}


div {
  margin: auto;
  width: 100px;
  height: 100px;
  padding: 0px 2px 0px 2px;
  border-style: dotted;
}

ol.a {
  list-style-type: lower-alpha;
}

ol, ul {
  padding: 2px;
  text-align: center;
  list-style: inside;
}

ul.b {
  list-style-type: square;

}
figure img{
  width: 30%;
}
