body{
	text-align: center;
	background-color: black;
  color: white;
}

p{
font-size: 12px;
 color: green;
}
h1{
  font-size: 20px;
}
div{
	margin: auto;
	width: 100px;
	height: 100px;
	padding: 0px 2px 0px 2px;
border-style: dotted;
}
ul{
	text-align: center;
}
